{% extends "::base.html.twig" %}

{% block title %}AppBundle:Main:maint{% endblock %}

{% block body %}
<div class="container">
  
  <div class="panel-group" id="accordion">
  {% for advertisement in Advertisements %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#{{  advertisement.id  }}">{{ advertisement.title  }} <div class="text-right"> Created by: {{  advertisement.name  }} {{ advertisement.date|date('Y-m-d H:m:s') }}</div></a>
        </h4>
      </div>
      <div id="{{  advertisement.id  }}" class="panel-collapse collapse ">
        <div class="panel-body">{{ advertisement.description }}.</div>
      </div>
    </div>
   {% endfor %}
    </div>
    
  </div> 

{% endblock %}
