<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        
    </head>
    <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">

      <a class="navbar-brand" href="/">MediaPark Užduotis</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <ul class="nav navbar-nav">
          <li class="nav-item">
        <a class="nav-link" href="/newAdvertisement">New advertisements</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/list">Your advertisements list</a>
      </li>
      </ul>
      {% endif %}
      <ul class="nav navbar-nav navbar-right">

        
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <li><a href="{{ logout_path() }}">Logout</a></li>
        {% else %}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Registration</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
    
    
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>

<style>

</style>
