{% extends "::base.html.twig" %}

{% block title %}AppBundle:Register:register{% endblock %}

{% block body %}
<div class="form-group col-xs-12">

</div>


<class="container" style="margin-top: 5%;">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Registration</div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-xs-12">
                    {{ form_start(form) }}
                    {{ form_row(form.username) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.password.first) }}
                    {{ form_row(form.password.second) }}
                    <br>
                       		<button type="submit" class='btn btn-success'>Register!</button>
                       {{ form_end(form) }}
                    </div>
                    </div>
                </div>


                
            
        </div>
    </div>
</div>

{% endblock %}
